backend_organ_vlasti/src/main/resources/wsdl/Zahtev.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ZahtevService"
	targetNamespace="http://demo.example.com/ws/zahtev"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="http://demo.example.com/ws/zahtev"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns="http://demo.example.com/ws/zahtev"
			attributeFormDefault="unqualified" elementFormDefault="unqualified"
			targetNamespace="http://demo.example.com/ws/zahtev">
			<xs:element name="getZahtevRequest" type="xs:string" />
			<xs:element name="getZahtevResponse" type="xs:string" />
			<xs:element name="getZahtevHtmlRequest" type="xs:string" />
			<xs:element name="getZahtevHtmlResponse" type="xs:string" />
			<xs:element name="getZahtevPdfRequest" type="xs:string" />
			<xs:element name="getZahtevPdfResponse" type="xs:base64Binary" />
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="getZahtevRequest">
		<wsdl:part name="getZahtevRequest" element="tns:getZahtevRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getZahtevResponse">
		<wsdl:part name="getZahtevResponse" element="tns:getZahtevResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getZahtevHtmlRequest">
		<wsdl:part name="getZahtevHtmlRequest" element="tns:getZahtevHtmlRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getZahtevHtmlResponse">
		<wsdl:part name="getZahtevHtmlResponse" element="tns:getZahtevHtmlResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getZahtevPdfRequest">
		<wsdl:part name="getZahtevPdfRequest" element="tns:getZahtevPdfRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getZahtevPdfResponse">
		<wsdl:part name="getZahtevPdfResponse" element="tns:getZahtevPdfResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Zahtev">
		<wsdl:operation name="getZahtev">
			<wsdl:input name="getZahtevRequest" message="tns:getZahtevRequest">
			</wsdl:input>
			<wsdl:output name="getZahtevResponse" message="tns:getZahtevResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getZahtevHtml">
			<wsdl:input name="getZahtevHtmlRequest" message="tns:getZahtevHtmlRequest">
			</wsdl:input>
			<wsdl:output name="getZahtevHtmlResponse" message="tns:getZahtevHtmlResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getZahtevPdf">
			<wsdl:input name="getZahtevPdfRequest" message="tns:getZahtevPdfRequest">
			</wsdl:input>
			<wsdl:output name="getZahtevPdfResponse" message="tns:getZahtevPdfResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ZahtevServiceSoapBinding"
		type="tns:Zahtev">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getZahtev">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getZahtevRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getZahtevResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getZahtevHtml">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getZahtevHtmlRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getZahtevHtmlResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getZahtevPdf">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getZahtevPdfRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getZahtevPdfResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ZahtevService">
		<wsdl:port name="ZahtevPort"
			binding="tns:ZahtevServiceSoapBinding">
			<soap:address
				location="http://localhost:8082/ZahtevPort" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
